<%- include('../public/partials/header'); -%>
   
<h2>Home</h2><% if (user) { %>
  <h2> Welcome <%= user.name %></h2>
<% } %>


<a href="/rooms" class="center-button">
  <div class="button" id="bigone">Start Chatting!</div>
</a>

<input type="text" id="searchInput" placeholder="Search stories..." />
<div id="pagination">
  <% if (totalPages > 1) { %>
    <% if (currentPage > 1) { %>
      <a href="?page=<%= currentPage - 1 %>" class="prev">&#8249; Previous</a>
    <% } %>

    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="?page=<%= i %>" class="<%= i === parseInt(currentPage) ? 'active' : '' %>"><%= i %></a>
    <% } %>

    <% if (currentPage < totalPages) { %>
      <a href="?page=<%= parseInt(currentPage) + 1 %>" class="next">Next &#8250;</a>
    <% } %>
  <% } %>
</div>

<div id="stories-container">
  <% stories.forEach((story) => { %>
    <div class="story">
      <a href="<%= story.url %>" target="_blank">
        <h3><%= story.title %></h3>
      </a>

      <% if (story.urlToImage) { %>
        <!-- Add inline styles to override or modify the user agent styles -->
        <img id="image-story-container" src="<%= story.urlToImage %>" alt="Story Image" style="overflow-clip-margin: content-box; overflow: hidden; max-width: 90%;" />
      <% } %>

      <p><%= story.description %></p>
    </div>
  <% }); %>
</div>


<script>
  const rawUsername = "<%= user && user.name ? user.name : null %>";
  const decodedUsername = rawUsername.replace(/<\/?[^>]+(>|$)/g, ''); // Remove HTML tags
  const username = decodedUsername.replace(/[^\w\s]/g, ''); // Remove special characters

  
  const rawUserID = "<%= user && user._id ? user._id : null %>";
  const decodedUserID = rawUserID.replace(/<\/?[^>]+(>|$)/g, ''); // Remove HTML tags
  const userID = decodedUserID.replace(/[^\w\s]/g, ''); // Remove special characters

  document.addEventListener("DOMContentLoaded", () => {
  const searchInput = document.getElementById("searchInput");
  const storiesContainer = document.getElementById("stories-container");
  const allStories = Array.from(storiesContainer.querySelectorAll(".story"));

  searchInput.addEventListener("input", () => {
    const query = searchInput.value.toLowerCase();

    // Filter stories based on the query
    const filteredStories = allStories.filter((story) => {
      const title = story.querySelector("h3").textContent.toLowerCase();
      const description = story.querySelector("p").textContent.toLowerCase();
      
      return title.includes(query) || description.includes(query);
    });

    // Hide or show stories based on the filter results
    allStories.forEach((story) => {
      if (filteredStories.includes(story)) {
        story.style.display = "block";
      } else {
        story.style.display = "none";
      }
    });
  });
});
</script>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/partials/Notifs.js"></script>

<%- include('../public/partials/footer'); -%>